
@media screen and (max-width: 375px) and (min-width:320px), (min-width:411px){
    body {
        padding: 0;
        /* margin: 0; */
    }
   .site-btn1, .site-btn2 {
      margin-left: auto;
      margin-right: auto;
      padding: 4%;
   }
   .heading-1, .heading-2 {
       font-size: xx-large;
   }
   .site-text {
       padding: 0;
   }
   .card {
       margin-bottom: 1.5rem;
   }
   .section-3 .card-body, .card-title {
       margin: 0;
       padding: 0;
   }
   .section-3 i {
      margin: 0;
      padding: 0;
   }
   .section-3 .card-text {
       margin-left: .6rem;
   } 
    .open-book-img {
        width: 100%;
    }
    p {
        font-size: .955rem;
    }
}

@media screen and (max-width:320px) {
    .site-title2 {
        padding: 1.3rem;
    }
}
@media screen and (max-width:411px) {
    .site-title2 {
        padding: 1.3rem;
    }
}
@media screen and (max-width:425px) {
    .site-title2 {
        padding: 1.3rem;
    }
}
@media screen and (max-width:320px) {
    .site-title2 {
        padding: 1.3rem;
    }
}
@media screen and (max-width:768px) {
    .section-1 .card {
        height: 10%;
    }
    .section-3 .card {
        height: 10%;
    } 

    .section-3 .card-title {
        font-size: x-large;
    }
    .section-3 .card-text {
        margin-left: .9rem;
    }
    
    .open-book-img {
        margin-top: 7rem;
        width: 110%;
    }
    p {
        font-size: small;
    }    
}
