@font-face {
    font-family: Pacifico;
    src: url(../fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: Righteous;
    src: url(../fonts/Righteous-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.ttf)
}

body {
    padding:0;
    margin: 0;
    font-family: Lato;
}
.navbar-brand {
    font-family: Pacifico;
    font-size: 2rem;
    color:rgba(238, 65, 137, 0.966) !important;
}

.nav-link {
    font-family: Roboto;
    font-size: 1.1rem;
    font-weight: 600;
    color: black;
    margin: .5rem;
}
.nav-link:hover {
    color: #16dddd !important;
}
.active .nav-link {
    color: #16dddd !important;
}

.menu-right-btn {
    font-family: Righteous;
    color: rgba(238, 65, 137, 0.966);
    background-color: transparent;
    transition: ease-in all 300ms !important;
    
}
.menu-right-btn:hover {
    color: whitesmoke;
    background-color:#16dddd !important;
    outline-color: red ;
}
/* Fix annoying border behind navbar & toggler */
.navbar .navbar-toggler {
    outline: none;
}
/* Fix annoying border behind btn */
.menu-right-btn:focus { 
    box-shadow: none;
}
